
    body {
    background-color: #F9EFEF;}  


    h1{
    position: absolute;
    width: 10%;
    height: 2%;
    left: 50%;
    top: 5%;

    font-family: Great Vibes;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 45px;

    color: #7E7A7A;
    }

    h2 {
    width: 100%;
    height: 5%;
    color: #A47070;
    font-size: 20px;
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    }

    h3 {
      position: absolute;
      left: 35%;
      top: 35%;
      font-family: Great Vibes;
      font-style: normal;
      font-weight: lighter;
      font-size: 40px;
      line-height: 100px;
      color: #7E7A7A;
    
    }

    p{
    position: absolute;
    top: 30%;

    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #7C6060;

    }

    h4 { 
        color: #A47070;
        font-size: 30px;
        font-family: Merriweather Sans;
        font-style: normal;
        font-weight: bold;
        text-align: center;

    }
    h5{
      font-family: Merriweather Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      width: 150%;
      text-align: left;
      color: #7C6060;
    }
    
    h6 {
      position: absolute;
      left: 40%;
      top: 5%;
      font-family: Great Vibes;
      font-style: normal;
      font-weight: lighter;
      font-size: 20px;
      line-height: 100px;
      color: #7E7A7A;
    
    }
    
    @media screen and (max-width: 600px) {
      h1{
        position: absolute;
        width: 10%;
        height: 2%;
        left: 50%;
        top: 5%;
    
        font-family: Great Vibes;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 45px;
    
        color: #7E7A7A;
        }

      h2 {
        width: 100%;
        height: 5%;
        color: #A47070;
        font-size: 20px;
        font-family: Merriweather Sans;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        }
    
    }

    /*images*/
    /* * {
      box-sizing: border-box;
    }

    .column {
      float: right;
      width: 50%;
      padding: 15%;
    }
    
    /* Clearfix (clear floats) */
    /* .row::after {
      content: "";
      clear: both;
      display: flex;
    } */ 


      /*sidebar*/
      .pill-nav a {
        font-family: Merriweather Sans;
        display: inline-block;
        color:#655959;
        text-align: center;
        /* padding: 500px 30px 100px 200px; */
        padding: 40% 10% 5% 10%;
        text-decoration: none;
        font-size: 15px;
        border-radius: 5px;
      }
      
      .pill-nav a:hover {
        color: #A38484;
      }
      @media screen and (max-width: 600px) {
        .pill-nav a {padding: 400px 40px 3px 10px;}
        .pill-nav a:hover {font-size: 12px;}
      }
    
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
      }  
      
    .sidenav a {
    padding: 20px 10px 10px 20px;
    font-family: Merriweather Sans;
    font-style:inherit;
    text-decoration: none;
    font-size: 15px;
    color:#A38484;
    display: block;
    }
    
    .sidenav a:hover {
    color:#655959;
    }

    @media screen and (max-width: 600px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 12px;}
    }
    .container {
    position: relative;
    width: 20%;
    left: 15%;
    }

    .gallery {
        
        display: flex ;
        width: 100%;
        margin: auto;
    }

    /* .responsive {
      padding: 0 100px;
      float: left;
      width: 24.99999%;
    } */

    /* .gallery-pic {
        flex: 1;
        margin: 20px;
 } */
/* Text over an images */

.gallery-pic {
  top: 15%;
  position: relative;
  width: 300px;
  float: right ;
  margin: 25px;
}

.gallery-pic .image {
  width: 250px;
}

.gallery-pic .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 250px;
  transition: 0.5s ease;
  background-color:#FDFBFB;
  opacity: 0;
}

.gallery-pic:hover .overlay {
  opacity: 0.8;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .gallery {
    padding: 20%;
    flex-direction: column;
  }
  .gallery-pic {
    top: 40%;
    position: relative;
    width: 200px;
    float: right ;
    margin: 25px;
  }
  
  .gallery-pic .image {
    width: 200px;
  }
  .gallery-pic .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
   
    background-color:#FDFBFB;
    opacity: 0;
  }

  .gallery-pic:hover .overlay {
    opacity: 0.8;
    overflow: visible;
  }
  
}

* {
  box-sizing: border-box;
}

.row{
    display: flex;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 15%;
 
}

input[type=text], select, textarea {
  width: 160%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 20;
  display: inline-block;
}

input[type=submit] {
  background-color:  #A38484;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color:  #A38484;
}

.container {
  width: 50%;
  top: 200px;
  border-radius: 5px;
  padding: 2px;
}

.col-25 {
  font-family: Merriweather Sans;
      font-style: normal;
      font-weight: normal;
      color: #A38484;
  float: left;
  width:40%;
  margin-top: 06px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}