body {
    background-color: #F9EFEF;}  

    h1 {
    position: absolute;
    left: 35%;
    top: 40%;

    font-family: Great Vibes;
    font-style:normal;
    font-weight:lighter;
    line-height: 100px;

    color: #7E7A7A;
    }

    .btn {
    border: none;
    background-color: inherit;
    padding: 40% 10%;
    font-size: 16px;
    cursor: pointer;
    display:initial;
    }

    .home {color: #A38484;}
    .menu {color: #A38484;}
    .about {color:#A38484;}
    .contact {color: #A38484;}